# The file path of the encrypted BLS key
ZSEQUENCER_BLS_KEY_FILE=[home-or-path-to-keys]/.eigenlayer/operator_keys/zellular.ecdsa.key.json

# The password to decrypt the BLS key file
ZSEQUENCER_BLS_KEY_PASSWORD=

# The file path of the encrypted ECDSA key
ZSEQUENCER_ECDSA_KEY_FILE=[home-or-path-to-keys]/.eigenlayer/operator_keys/zellular.ecdsa.key.json

# The password to decrypt the ECDSA key file
ZSEQUENCER_ECDSA_KEY_PASSWORD=

# Socket URL for registering the operator with Zellular AVS on EigenLayer.
ZSEQUENCER_REGISTER_SOCKET=http://[ip:port]

# The file path/url containing nodes' public keys, stakes, and addresses
ZSEQUENCER_NODES_FILE=https://docs.zellular.xyz/nodes.json

# The file path/url containing the list of apps authorized to use the service
ZSEQUENCER_APPS_FILE=https://docs.zellular.xyz/apps.json

# the path that used to store archive of transactions
ZSEQUENCER_SNAPSHOT_PATH=./db

# The port on which the node receives incoming requests
ZSEQUENCER_PORT=6001

# The number of finalized transactions archived in each snapshot file
ZSEQUENCER_SNAPSHOT_CHUNK=1000000

# The threshold for archiving chunks older than this specified limit
ZSEQUENCER_REMOVE_CHUNK_BORDER=3

# The percentage of nodes required to finalize transactions
ZSEQUENCER_THRESHOLD_PERCENT=67

# The interval, in seconds, at which the node sends transaction requests to the sequencer
ZSEQUENCER_SEND_TXS_INTERVAL=0.05

# The interval, in seconds, at which the sequencer retrieves locked and finalized signatures from nodes
ZSEQUENCER_SYNC_INTERVAL=0.05

# The time limit before which nodes will dispute the sequencer if it fails to update the finalization proof
ZSEQUENCER_FINALIZATION_TIME_BORDER=120

# The timeout period for collecting signatures from nodes
ZSEQUENCER_SIGNATURES_AGGREGATION_TIMEOUT=5

# The interval, in seconds, at which the latest list of apps and nodes is fetched
ZSEQUENCER_FETCH_APPS_AND_NODES_INTERVAL=60

# The sequencer id to init with if querying sequencer from other nodes fails
ZSEQUENCER_INIT_SEQUENCER_ID=0x906585f83fa7d29b96642aa8f7b4267ab42b7b6c

# The source where nodes data should be loaded from eigenlayer/file/url
ZSEQUENCER_NODES_SOURCE=eigenlayer

# Register operator to zellular AVS on EigenLayer
ZSEQUENCER_REGISTER_OPERATOR=true

# Following variables are required to load nodes data from eigenlayer

# The URL of the subgraph 
ZSEQUENCER_SUBGRAPH_URL=https://api.studio.thegraph.com/query/85556/bls_apk_registry/version/latest

# The RPC endpoint
ZSEQUENCER_RPC_NODE=https://ethereum-holesky-rpc.publicnode.com

# The address of the registry coordinator contract
ZSEQUENCER_REGISTRY_COORDINATOR=0xa19A698e512240Fe51b8FBf8c3BD86EEC3306379

# The address of the operator state retriever contract
ZSEQUENCER_OPERATOR_STATE_RETRIEVER=0x8ce7f30F2c11e61AEBbAaD3938E201AE33332950
