validators==0.34.0
Flask==3.0.3
web3==6.19.0
python-dotenv==1.0.1
xxhash==3.4.1
validators==0.34.0
https://github.com/zellular-xyz/eigensdk-python/archive/refs/tags/latest.zip
fastapi==0.115.5
uvicorn==0.32.0
requests==2.32.3
pydantic==2.9.2
tenacity==9.0.0