Flask==3.0.3
web3==6.19.0
python-dotenv==1.0.1
xxhash==3.4.1
https://github.com/zellular-xyz/eigensdk-python/archive/refs/tags/latest.zip
ecdsa
flask_sqlalchemy
cryptography
fastapi==0.115.5
uvicorn==0.32.0
requests